h2{
    letter-spacing: 10px;
    font-size:36px;
    text-align:center;
    color: #666;
}
.lanse{
    letter-spacing: 10px;
    color:#076BBC;
}
.hongse{
    color:red;
}
.top{
    text-align: center;
    color: #666;
    font-family: "楷体";
}
